* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#e66465, #9198e5);
}

.text-container {
  height: 40vh;
  width: 50vw;
  background-color: white;
  display: grid;
  grid-template: 40% 30% 30%/ 10% 80% 10%;
}

.title {
  grid-area: 1/2/2/3;
  place-self: center;
  text-align: center;
  font-size: 150%;
  height: 100%;
  color: rgb(46, 45, 45);
}

.color-code {
  grid-area: 2/2/3/3;
  place-self: center;
}

.color-code p {
  font-size: 100%;
  text-align: center;
  color: rgb(46, 45, 45);
}

.btn {
  grid-area: 3/2/4/3;
  place-self: center;
  font-size: 100%;
  background-color: rgb(197, 195, 195);
  border: 0;
  border-radius: 10%;
  margin: 4%;
  height: 50%;
  width: 15%;
}

.btn:hover {
  background-color: rgb(134, 133, 133);
}

.btn:active {
  background-color: rgb(134, 133, 133);
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}
